.App {
  text-align: center;
}

h1 {
  padding-top: 3%;
  color: rgb(169, 132, 100);
  font-size: 50px;
}

.calc-container {
  padding-top: 3%;
  display: grid;
  justify-content: center;
}

.result {
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-bottom: 25px;
}

.buttons-grid {
  display: grid;
  justify-content: center;
  background: rgb(169, 132, 100);
  padding: 20px 40px;
  border-radius: 20px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: grid;
  justify-content: center;
  margin-bottom: 15px;
  grid-template-columns: repeat(4, 100px);
  column-gap: 15px;

}

.btn-0 {
  grid-column: 1 / 3;
  width: 100%;
}

button {
  height: 100px;
  width: 100px;
  border: none;
  font-size: 35px;
  color: white;
  background: #D4B996FF;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(207, 170, 119);
}

button:hover {
  background:rgb(207, 170, 119);
  cursor: pointer;
}

button:active {
  background:rgb(207, 165, 106);
}




